<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="css/hover-on-touch.css">

    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/hoverontouch.js"></script>

    <title></title>
  </head>

  <body>
    <div class="main-navbar">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/">
          <img src="images/logo.png" class="logo d-inline-block align-top" alt="">
        </a>
      </nav>
    </div>


    <div class="" id="index-videos-container">
      <% @topics.each do |topic| %>
        <h1><%= topic["name"] %></h1>
        <div class="scrollList">
          <% topic["tv_movies"].each do |movie| %>
            <div class="displayCard">
              <a class="hoverontouch" href="player-<%= movie["id"] %>.html">
                <div class="displayCard-thumbnail">
                  <img class="shadow lazy touchy_image" src="thumbnails/<%= "#{movie['id']}_palm.png" %>"/>
                  <div class="card-title touchy_text">
                    <span class='name'><%= movie["title_nl"] %></span><br />
                    <span class='description'><%= movie["short_description_nl"] %></span><br />
                    <span class='language'><%= movie["spoken_language"] %>(<%= movie["subtitle_language"] %>)</span><br />
                    <span class='duration'><%= movie["duration"] %></span>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>

    <script type="text/javascript">
      var HoverOnTouch = new HoverOnTouch();
    </script>
  </body>
</html>
